@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto text-slate-800;
  }

  .bad-html > h2 {
    @apply dark:text-white;
  }
}

#__next {
  @apply min-h-screen h-full;
}

.full-height {
  min-height: calc(100vh - 80px);
}

.prose :where(img):not(:where([class~='not-prose'] *)) {
  @apply dark:bg-white max-w-full;
}

.sqs-block-content > h3 {
  @apply text-base-mid;
}

.sqs-block-content > h2 {
  @apply text-base-mid;
}

.sqs-block-content > h4 {
  @apply text-white dark:text-base-mid;
}

.sqs-block-content > p {
  @apply space-y-6;
}

.bad-html > p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.bad-html > h3 > span {
  @apply font-bold text-slate-900 dark:text-white;
}

.bad-html > h3 {
  @apply font-bold text-slate-900 dark:text-white;
}

.bad-html > h4 {
  @apply font-bold text-slate-900 dark:text-white;
}

#scrollers::-webkit-scrollbar {
  display: none;
  width: 0;
}

.switch[data-ison='true'] {
  justify-content: flex-end;
}

canvas {
  min-height: calc(100vh - 80px);
}
