@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto;
  }

  .bad-html > h2 {
    @apply dark:text-white;
  }
}

.bad-html > p {
  margin-top: 0;
  margin-bottom: 0;
}

#scrollers::-webkit-scrollbar {
  display: none;
  width: 0;
}

.switch[data-ison='true'] {
  justify-content: flex-end;
}
