@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto;
  }

  .bad-html > h2 {
    @apply dark:text-white;
  }
}

.prose :where(img):not(:where([class~='not-prose'] *)) {
  @apply dark:bg-white;
}

.bad-html > p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.bad-html > h3 > span {
  @apply font-bold text-slate-900 dark:text-white;
}

.bad-html > h3 {
  @apply font-bold text-slate-900 dark:text-white;
}

#scrollers::-webkit-scrollbar {
  display: none;
  width: 0;
}

.switch[data-ison='true'] {
  justify-content: flex-end;
}
